/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#F0F3FF;
	background-color: #F2E8C6;
}

.red-text {
	color: rgb(71, 51, 40);
  }
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #DAD4B5;
	color: #952323;


}

.resume-main {
	background-color: #952323;
	color:#DAD4B5
}

.resume-aside {
	background-color:#952323;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #070F2B;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}


.language-progress {
	background-color: #070F2B;
}
	

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
